<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dynamic.movies.rishabh.sliderwelcome">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <application

        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeForFragments"
            />

        <activity
            android:name=".WelcomeActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeForFragments1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".CBWatcherService"  />
        <service android:name=".notification.NotificationIntentService" />

        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleTop"
            />

        <activity
            android:name=".AboutUsActivity"
            android:label="@string/title_activity_about_us"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeForFragments"
            />

    </application>

</manifest>